<div class="sidebar">
    <div class="header">
        <hgroup>
            <a href="{{ site.baseurl }}/" class="main-link">
              <h1 class="brand-title">sichere entwicklung</h1>
            </a>

						<br/>
						by
						<a href="https://www.secure-io.de/" rel="noopener">
            <img id="logo"
                style="max-width: 100px"
                src="{{ '/images/secureio_logo_white.png' | relative_url }}"
                alt="secureIO GmbH">
            </a>
        </hgroup>

        <nav role="navigation" class="nav">
          <div class="navigation">
            <div class="links">
              <a class="page-link" href="/pages/planung/">Planung</a>
              <a class="page-link" href="/pages/design/">Design</a>
              <a class="page-link" href="/pages/entwicklung/">Entwicklung</a>
              <a class="page-link" href="/pages/testen/">Testen</a>
              <a class="page-link" href="/pages/bereitstellung/">Bereitstellung</a>
              <a class="page-link" href="/pages/wartung/">Wartung</a>
          </div>
        </nav>
    </div>
</div>
